### String breakdown in a different way

In [18]:
string = "Rafin"
for i in range(len(string)+1):
#     print(i, string[i])
    for j in range(i, len(string)):
#         print(j, i)
        print(string[i:j+1])

R
Ra
Raf
Rafi
Rafin
a
af
afi
afin
f
fi
fin
i
in
n

#### Above code using list comprehension

In [27]:
s = [ [string[i:j+1] for j in range(i, len(string))] for i in range(len(string)+1)]
s

[['R', 'Ra', 'Raf', 'Rafi', 'Rafin'],
 ['a', 'af', 'afi', 'afin'],
 ['f', 'fi', 'fin'],
 ['i', 'in'],
 ['n'],
 []]

### Squaring all items into a lists

In [28]:
list_1 = [12,3,6,8,9]
list_2 = []
for item in list_1:
    list_2.append(item**2)
list_2

[144, 9, 36, 64, 81]

#### above code using dictionary comprehension

In [29]:
dict_1 = {item**2 for item in list_1}
dict_1

{9, 36, 64, 81, 144}

In [ ]:
# list-- 37, 19, 23,26

### flatten a shallow list

In [5]:
# from 2d list to 1d list flatten
list_2D = [[1,2],[3,4]]
list_1D =[]
for i in list_2D:
#     print(i)
    for j in i:
        list_1D.append(j)
print(list_1D)

[1, 2, 3, 4]

In [9]:
# another way of doing that is using numpy collectable importing array
from numpy import array
l = array(list_2D)
list1 = list(l.flatten())     # flatten function used to flat 2d or 3d list to a single list by using array function
list1

[1, 2, 3, 4]

In [12]:
l.flatten()

array([1, 2, 3, 4])

### find the second smallest number in a list

In [17]:
list_1 = [12,3,6,8,9]
smalles_2 = sorted(list_1)[1:2]
print(f'Second Smallest: {smalles_2}')

Second Smallest: [6]

### checking two lists are circularly identical or not

In [19]:
list1 = [10, 10, 0, 0, 10] 
list2 = [10, 10, 10, 0, 0] 
list3 = [1, 10, 10, 0, 0]
# using map function we can do this work aslo and join function do the next
# map fuction takes (fuction, list or dict or other objects)
#join fuction do the join operation with str and ''
print('checking list1 and list2 for identical or not>')
if ''.join(map(str, list2)) in ''.join(map(str,list2)):
    print('Identical')
else:
    print('Not Identical')
print()
print('Checking list2 and list3')
if ''.join(map(str, list3)) in ''.join(map(str,list2)):
    print('Identical')
else:
    print('Not Identical')

checking list1 and list2 for identical or not>
Identical

Checking list2 and list3
Not Identical

#### another way for checking the circularly identical

In [22]:
def checking(list1,list2):
    list1.extend(list1)
    for i in range(len(list1)):
        if list2==list1[i:i+len(list2)]:
            return True
    return False
    
list1 = [10, 10, 0, 0, 10] 
list2 = [10, 10, 10, 0, 0] 
list3 = [1, 10, 10, 0, 0]

if checking(list1,list2):
    print('Identical')
else:
    print('Not Identical')
print()
if checking(list2,list3):
    print('Identical')
else:
    print('Not Identical')

Identical

Not Identical

## Difference between the two lists

In [29]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
list3=[]
for i in (list1+list2):
    if i not in list2 or i not in list1:
        list3.append(i)
list3

[3, 5, 9, 2, 4, 6, 8]

In [27]:
list1+list2

[1, 3, 5, 7, 9, 1, 2, 4, 6, 7, 8]

### generate all sublists of a list

In [31]:
list1 = [1, 3, 5, 7, 9]
for i in range(len(list1)+1):
    for j in range(i,len(list1)):
        print(list1[i:j+1])

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]
[3]
[3, 5]
[3, 5, 7]
[3, 5, 7, 9]
[5]
[5, 7]
[5, 7, 9]
[7]
[7, 9]
[9]

### picking a random number from a range of list

In [42]:
from random import randint
list1 = list(range(40,100))
r_num = randint(40,80)
print(list1[r_num])

96

### concatenating a given list which range goes from 1 to n=5

In [1]:
list1 = ['p','q']
n=5
s=""
lst = []
for i in range(1,n+1):
    for j in list1:
        s=(j+str(i))
        lst.append(s)
#         s+=''.join(j+str(i))
#         print([s])
lst

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [78]:
n = [ j+str(i) for i in range(1,n+1) for j in list1]
n

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

### convert list to list of dictionaries

In [83]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
dct={}
lst=[]
for i in range(len(color_name)):
    dct["color_name"]=color_name[i]
    dct["color_code"]=color_code[i]
    lst.append(dct)
    dct={}
print(lst)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [84]:
lst

[{'color_name': 'Black', 'color_code': '#000000'},
 {'color_name': 'Red', 'color_code': '#FF0000'},
 {'color_name': 'Maroon', 'color_code': '#800000'},
 {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

##### above program using zip function

In [86]:
# zip function zipping two list into one or should we say it take iterable object or lists
lst2 = []
for i, j in zip(color_name,color_code):
    lst2.append({"color_name":i, "color_code":j})
lst2

[{'color_name': 'Black', 'color_code': '#000000'},
 {'color_name': 'Red', 'color_code': '#FF0000'},
 {'color_name': 'Maroon', 'color_code': '#800000'},
 {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

## from Dictionary questions

#### class doubt questions answer work

### combine two dictionary adding values for common keys

#### we can do this using Counter

In [87]:
from collections import Counter
d1 = {'a':100,'b':200,'c':100,'f':100}
d2= {'a':100,'b':200,'c':100,'d':120}
n_d1 = Counter(d1)
n_d2 = Counter(d2)
add_d1_d2 = n_d1+n_d2
print(add_d1_d2)

Counter({'b': 400, 'a': 200, 'c': 200, 'd': 120, 'f': 100})

#### another way of doing above program

In [96]:
n_d3 = {}
for i in d1:
    if i in d2.keys():
        n_d3[i]=d1[i]+d2[i]
    else:
        n_d3[i]=d1[i]

for i in d2:
    if i not in d1.keys():
        n_d3[i]=d2[i]
        
print(n_d3)

{'a': 200, 'b': 400, 'c': 200, 'f': 100, 'd': 120}

### create and display all combinations of letters,selecting each letter from a different key in a dictionary.
### Sample data : {'1':['a','b'], '2':['c','d']} 
### Expected Output: ac ad bc bd

##### using itertools i am doing this code

In [99]:
from itertools import product
dct={'1':['a','b'], '2':['c','d']} 
dct_val= dct.values()
for item in product(*dct_val):
    print(''.join(item))

ac
ad
bc
bd

### find the highest 3 values of corresponding keys in a dictionary

##### using Counter i can do the code counter count the key and value corresponding 
#### and from counter using most_common fuction or method to get higest 3 from big to low

In [103]:
from collections import Counter
my_dict = {'a':600, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
n_dct = Counter(my_dict)
high =n_dct.most_common(3)
print(high)

[('b', 5874), ('e', 5874), ('a', 600)]

In [104]:
# we can see output show us a list of tupples that the return from most_common function
# now we can iterate over high to print the highest 3 into a dictionary
dic ={}
for i,j in high:
    dic[i]=j
print(dic)

{'b': 5874, 'e': 5874, 'a': 600}

#### another way of doing it

In [4]:
my_dict = {'a':600, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
dict_val = my_dict.values()
s = sorted(dict_val)[-3:]
dict1 ={}
for i in my_dict:
#     print(my_dict[i])
#     print(i)
    for j in s:
        if my_dict[i]==j:
            dict1[i]=j
print(dict1)

{'a': 600, 'b': 5874, 'e': 5874}