## Operators

In [18]:
#All Operators and how to work in python
a = 2+2
b = 25/2
c = 2*2
d = 10//2
e = 10%3
f = 10-5
g = 2**5
print(f'Addition: {a}')
print(f'Division in float: {b}')
print(f'Multiplication: {c}')
print(f'Division in integer: {d}')
print(f'Modulo: {e}')
print(f'Minus: {f}')
print(f'Power of 2^5: {g}')

Addition: 4
Division in float: 12.5
Multiplication: 4
Division in integer: 5
Modulo: 1
Minus: 5
Power of 2^5: 32

## Types of

In [12]:
# how to know what kind of operations and what is the data type it is
type(a)

int

In [13]:
type(b)

float

In [14]:
type(c)

int

In [15]:
type(d)

int

In [16]:
type(e)

int

In [17]:
type(f)

int

## String

In [1]:
#python strings variations-->
strings = "I am Rafin Arshad"
strings

'I am Rafin Arshad'

In [20]:
#output is presenting All
strings[::]

'I am Rafin Arshad'

In [21]:
strings[0:3]

'I a'

In [22]:
#last to fist strings
strings[:-1]

'I am Rafin Arsha'

In [23]:
# i want to know if i am getting the string from strings with gapping is 2
strings[1:6:2]

' mR'

In [24]:
#even way to get strings
strings[0:6:2]

'Ia '

In [4]:
#odd way to get strings
strings[0:-1:3]

'Imanra'

### reversing string

In [25]:
#revesing string-->
strings[::-1]

'dahsrA nifaR ma I'

In [35]:
#getting last 2 portion in a string
strings[-2:]

'ad'

In [9]:
#adding or Concatination of two strings
str2 = " Ankur"
str3 = strings+str2
str3

'I am Rafin Arshad Ankur'

### find() method

In [6]:
#find out the strings 
strings.find("r")

12

### title() method

In [7]:
#titled the strings
strings.title()

'I Am Rafin Arshad'

### replace() method

In [8]:
#replace the strings
strings.replace("am", "is")

'I is Rafin Arshad'

## Lists

In [16]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c']

In [23]:
#concatinating a lists
list3 = list1+list2
list3

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [12]:
#find particular value in list
list3[0]

1

In [13]:
#finding values in list3
list3[0:3]

[1, 2, 3]

### reversing lists

In [14]:
#reversing a list3
list3[::-1]

['c', 'b', 'a', 5, 4, 3, 2, 1]

#### reverse() method

In [29]:
#reverse method use to reversing the list
list3.reverse()

In [30]:
list3

['c', 'b', 'a', 5, 4, 3, 2, 1]

In [20]:
# Concatinate two list's value one is integer and other is string into a list
list4 = [list1[1]]+[list2[0]]
list4

[2, 'a']

In [22]:
# performing addition into two list object
list5 = [5,6,7]
lists = list1[0]+list5[1]    # list1[0]=1 list5[1]=6 1+6=7
lists

7

### append() method

In [47]:
# append or insert a value into list1 and list2
list1.append(6)
list2.append("d")
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 6, 6]
['a', 'b', 'c', 'd', 'd', 'd']

### pop() method

In [27]:
#pop from list1 and list2
list1.pop(-1) # pop function take a index value for removing
list2.pop(-1)
print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 6]
['a', 'b', 'c', 'd', 'd']

In [28]:
list1

[1, 2, 3, 4, 5, 6, 6]

In [29]:
list2

['a', 'b', 'c', 'd', 'd']

### remove() method

In [30]:
#remove function in python and remove a value from list1
list1.remove(6) #remove function take value for removing

In [31]:
list1

[1, 2, 3, 4, 5, 6]

In [32]:
list3

[1, 2, 3, 4, 5, 'a', 'b', 'c']

### len() function

In [33]:
#len function in python into list3
len(list3)

8

### count() function

In [34]:
#count function in python into list2
list2.count('d')

2

In [35]:
#copying a list into another variable
another_list = list1
another_list

[1, 2, 3, 4, 5, 6]

In [39]:
#copying list with another technique
list_1 = [10,50,20,30,40,30,50,40]
list_2 = list_1.copy()
list_2

[10, 50, 20, 30, 40, 30, 50, 40]

In [40]:
#copying list technique no 3
list_3 = list_1[:]
list_3

[10, 50, 20, 30, 40, 30, 50, 40]

### sort() method

In [41]:
#sorting a list
list_3.sort()
list_3

[10, 20, 30, 30, 40, 40, 50, 50]

### clear() method

In [40]:
#clearing a list
another_list.clear()
another_list

[]

In [41]:
#deleting a list
del another_list

In [42]:
another_list

NameError: name 'another_list' is not defined

In [4]:
#type of a list 
type(list_2)

list

In [4]:
#2D list
list_2D = [[1,20,3], [4,5,6],[7,8,9]]
list_2D

[[1, 20, 3], [4, 5, 6], [7, 8, 9]]

In [5]:
#findings values from 2D list
list_2D[2][-1]

9

In [6]:
#reversing 2D list
list_2D.reverse()

In [7]:
list_2D

[[7, 8, 9], [4, 5, 6], [1, 20, 3]]

In [8]:
#trying try catch and finally block in a list
try:
  list_2D.index(list_2D[1][1])
except ValueError as er:
    print(f'{er} showed but it is in the list and problem found')
finally:
    print(list_2D)

5 is not in list showed but it is in the list and problem found
[[7, 8, 9], [4, 5, 6], [1, 20, 3]]

In [9]:
#poping 2D list
list_2D.pop(list_2D.index(list_2D[0]))

[7, 8, 9]

In [10]:
#inserting value in list
list_2D.insert(1,[10,20,30])

In [11]:
list_2D

[[4, 5, 6], [10, 20, 30], [1, 20, 3]]

### insert() method

In [12]:
#inserting a value in 1st row
list_2D[0].insert(3,8)

In [13]:
list_2D

[[4, 5, 6, 8], [10, 20, 30], [1, 20, 3]]

In [14]:
#removing a value from 1st row
list_2D[0].remove(8)

In [15]:
list_2D

[[4, 5, 6], [10, 20, 30], [1, 20, 3]]

### list() method

In [5]:
#using list function for generating a list
list_f = list(range(10))
print(list_f)

# converting string into a list
list_s = list("Hello, world.")
list_s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '.']

## Set

In [44]:
set1 = set(list_3)  # list_3 = [10,50,20,30,40,30,50,40]
set1  # when we run it we get unique values in a sets

{10, 20, 30, 40, 50}

In [44]:
type(set1)

set

## Dectionary

In [2]:
# Dectionary can be int, float, string, list and dectionary itself
#creating DECTIONARY->
dict1 = {
    1: "One",
    2: "Two",
    3: "Three"
}
# above 1,2,3 are keys and one, two, three are values

In [3]:
# finding keys from dict1
dict1.keys()

dict_keys([1, 2, 3])

In [4]:
#finding values from dict1
dict1.values()

dict_values(['One', 'Two', 'Three'])

### dict() method

In [5]:
# we can create dictionary using dict() method
dict2 = dict(a= 10, b=20, c=30)
dict2

{'a': 10, 'b': 20, 'c': 30}

In [6]:
dict2.keys()

dict_keys(['a', 'b', 'c'])

In [7]:
dict2.values()

dict_values([10, 20, 30])

In [8]:
#inserting a value in dictionary on dict2
dict2["d"] = 40

In [9]:
dict2

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

### item() method

In [11]:
dict2.items()
# items() method shows the output in tupple formate

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [12]:
dict2['a']

10

In [13]:
# we can put a list in dictionary
dict3 = { 
    'a': [1,2,3],
    'b': [4,5,6]
 }

In [14]:
dict3

{'a': [1, 2, 3], 'b': [4, 5, 6]}

In [15]:
dict3['a'][0]

1

In [18]:
# nested dictionary
dict_student = {
    'girls': {
        'girl1': {
            'P': 30,
            'C': 50,
            'E': 80
        },
        'girl2':{
            'P': 25,
            'C': 55,
            'E': 66
        }
    },
    'boys':{
        'boy1': {
            'P': 80,
            'C': 25,
            'E': 33
        },
        'boy2': {
            'P': 45,
            'C': 22,
            'E': 89
        }
    }
}

In [19]:
dict_student

{'girls': {'girl1': {'P': 30, 'C': 50, 'E': 80},
  'girl2': {'P': 25, 'C': 55, 'E': 66}},
 'boys': {'boy1': {'P': 80, 'C': 25, 'E': 33},
  'boy2': {'P': 45, 'C': 22, 'E': 89}}}

In [20]:
#finding a value from nested dictionary
dict_student['boys']['boy2']['E']

89

In [21]:
#showing whole value of boy1
dict_student['boys']['boy1']

{'P': 80, 'C': 25, 'E': 33}

In [25]:
# FOR PRACTICE looping over the dictionary-->
for key, value in dict_student.items():
    print(key, value)

girls {'girl1': {'P': 30, 'C': 50, 'E': 80}, 'girl2': {'P': 25, 'C': 55, 'E': 66}}
boys {'boy1': {'P': 80, 'C': 25, 'E': 33}, 'boy2': {'P': 45, 'C': 22, 'E': 89}}

In [24]:
for x in dict_student:
    print(x, dict_student[x])

girls {'girl1': {'P': 30, 'C': 50, 'E': 80}, 'girl2': {'P': 25, 'C': 55, 'E': 66}}
boys {'boy1': {'P': 80, 'C': 25, 'E': 33}, 'boy2': {'P': 45, 'C': 22, 'E': 89}}