## enumerate function

In [1]:
# enumerate function used for enumerate a list or object like index and values
list1 = [1,25,36,20,45,55,70,10]
for index,item_values in enumerate(list1):
    print(index, item_values)

0 1
1 25
2 36
3 20
4 45
5 55
6 70
7 10

In [8]:
# checking maximum for above list
maxi = max(list1)
print(maxi, list1.index(maxi))

70 6

## list comprehension

In [9]:
lis = []
for j in range(10):
    if j%2!=0:
        lis.append(j**2)
lis

[1, 9, 25, 49, 81]

In [16]:
# using list comprehension from above code in an another loop over 
list_c = [i**2 for i in [ j**2 for j in range(0,10)] if i%2!=0 and i<26]
list_c

[1, 81, 625]

## map function
###### split() function for split input taking or spliting string or list with space or any kind of string

In [24]:
# using map function checking maximum
list1 = list(map(int, input().split()))
maxi = max(list1)
maxi

1 3 4 7 2 10

10

#### map function and sort function and lambda function together

In [48]:
stu_names = [
    ('Who', 100),
    ('When', 88),
    ('Where', 101),
    ('How', 89),
    ('What', 99)
]
m_list = list(map(lambda value:value[1], stu_names))
m_list.sort()
print(m_list)

[88, 89, 99, 100, 101]

In [58]:
## squaring a number using lambda function and map function
square = lambda list_number:list_number**2
square(2)

4

In [59]:
list_number = [1,2,3,4]
s = list(map(square,list_number))
print(s)

[1, 4, 9, 16]

In [66]:
# checking a string is it in list or not using python function and map function
list1 =['new','look','again']
def checking(string):
    if 'i' in string:
        return string
result = list(map(checking, list1))
result

[None, None, 'again']

## filter() function

In [67]:
# filter () function filtering list or object with self or any function
result_2 = list(filter(checking,list1))
print(result_2) # result is printing what's in the function to do and above map function printing whole list with resultent value also

['again']

#### another way of filter function use 
##### and also use of lambda function for practicing that i am doing it right or wrong to understand
#### the advantage of filter function over using map function is that we gonna see the whole tupple but map function only present just values

In [76]:
stu_names = [
    ('Who', 100),
    ('When', 88),
    ('Where', 101),
    ('How', 89),
    ('What', 99)
]
list1= list(filter(lambda name:name[1]>99, stu_names))
n = sorted(list1,reverse=True)
# list1.sort(key=lambda name:name[1])
#list1
print(n)

[('Who', 100), ('Where', 101)]

## nested function
#####  nested function are going to be used when i am doing a large amount of code and  when i need a sub function into main function

In [79]:
def main_function(name):
    print(f"Hi '{name}' this is the main function u r printing from")
    def nested_function(name2):
        
        print(f"Hi '{name2}' this is the nested function and it is called from into the main_function")
    nested_function("Rafin")
main_function('Ankur')

Hi 'Ankur' this is the main function u r printing from
Hi 'Rafin' this is the nested function and it is called from into the main_function

## *args -- multiple arguments

In [81]:
# suppose like we want first two values from a list and other values all are in assign in one value like this->
number_list = 1,2,3,4
x,y,*other = number_list
print(x)
print(y)
print(other)

1
2
[3, 4]

In [93]:
# *args in function
def sumation(*args):
    
    return sum(args)
sumation(2,3,4,6)

15

In [1]:
# using *args multiply numbers
def multiply(*numbers):
    total=1
    for number in numbers:
        total*=number
    return total
    
    
print(multiply(2,3,4,5,6))

720

## **kwargs argument uses

#### kwargs means key words argument  bascialy it is useful when we work with dictionary

In [12]:
# using kwargs printing user info
def save_user_info(**users):
        print(users)
        print(users['name'])
        print(users['phone'])
        
    
save_user_info(id='1',name='Ankur', phone='01771263365',address='Dinajpur')

{'id': '1', 'name': 'Ankur', 'phone': '01771263365', 'address': 'Dinajpur'}
Ankur
01771263365

In [10]:
# from the above program we can see the result output is showing us in dictionary so we can do this also..

In [13]:
def checking(**names):
    if 'name1' in names:
        print(names['name1'])
    else:
        print(names['name2'])
    
checking(name1='Ankur', name2='Rafin')

Ankur