# importing Libraryies

In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pickle as pk
from wordcloud import WordCloud, STOPWORDS
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix
from sklearn.metrics import classification_report, r2_score, explained_variance_score, mean_squared_error
from nltk.stem import PorterStemmer
from nltk.stem import LancasterStemmer
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.svm import SVC, LinearSVC
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from pprint import pprint
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier, RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor

# Loading Dataset

In [162]:
df = pd.read_csv('hiring.csv')
df.head(12)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [38]:
h = pd.read_csv('C:/Users/DELL/Documents/Phython_Class_CIT/hiring.csv')
h.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [163]:
df=df.rename(columns={'test_score(out of 10)': 'test_score', 'interview_score(out of 10)':'interview_score', 'salary($)':'salary'})

In [164]:
df.head(10)

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       6 non-null      object
 1   test_score       7 non-null      float64
 2   interview_score  8 non-null      int64
 3   salary           8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [9]:
df.isnull().sum()

experience         2
test_score         1
interview_score    0
salary             0
dtype: int64

# Processing Data

In [155]:
df['experience'].values

array([nan, nan, 'five', 'two', 'seven', 'three', 'ten', 'eleven'],
      dtype=object)

In [165]:
dict1 = {
    'nan': 0,
    'two': 2,
    'three': 3,
    'five': 5,
    'ten': 10,
    'seven': 7,
    'eleven': 11
}
list_x = []
for i in df['experience'].values:
#     print(i)
    list_x.append(dict1[str(i)])

In [174]:
fil_list = []
for i in df['experience'].values:
#     print(i)
    if i == 0:
        fil_list.append(df['experience'].mean())
    else:
        fil_list.append(i)
df['experience']= fil_list

In [175]:
df['experience']= fil_list

In [166]:
df['experience']=list_x

In [176]:
df.head(10)

   experience  test_score  interview_score  salary
0        4.75    8.000000                9   50000
1        4.75    8.000000                6   45000
2        5.00    6.000000                7   60000
3        2.00   10.000000               10   65000
4        7.00    9.000000                6   70000
5        3.00    7.000000               10   62000
6       10.00    7.857143                7   72000
7       11.00    7.000000                8   80000

In [168]:
df['experience'] = df['experience'].fillna(df['experience'].mean())

In [169]:
df['test_score'] = df['test_score'].fillna(df['test_score'].mean())

In [170]:
df.head(10)

   experience  test_score  interview_score  salary
0           0    8.000000                9   50000
1           0    8.000000                6   45000
2           5    6.000000                7   60000
3           2   10.000000               10   65000
4           7    9.000000                6   70000
5           3    7.000000               10   62000
6          10    7.857143                7   72000
7          11    7.000000                8   80000

# Spliting Dataset

In [26]:
df_y = df['salary']
df_x = df.drop('salary', axis=1)

In [27]:
df_x.shape, df_y.shape

((8, 3), (8,))

# Model - Linear Regression

In [32]:
grid_params = {
    'fit_intercept': [True, False],
    'normalize': [True, False],
    'copy_X': [True, False]
}
grid = GridSearchCV(LinearRegression(), grid_params, verbose=3, n_jobs=-1)
grid_model_lr = grid.fit(df_x, df_y)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:    2.1s finished

In [36]:
grid_model_lr.best_score_

nan

In [34]:
grid_model_lr.best_params_

{'copy_X': True, 'fit_intercept': True, 'normalize': True}

In [35]:
grid_model_lr.best_estimator_

LinearRegression(normalize=True)

In [37]:
# fixing values
reg = LinearRegression(normalize=True).fit(df_x,df_y)

In [ ]:
with open('reg.pkl', 'wb') as f:
    pk.dump(reg, f)

# all toghether in a class for flask api

In [177]:
import pandas as pd
import pickle as pk
from sklearn.linear_model import LinearRegression
import numpy as np


class ModelTraining:
    def linear_function(self):
        df = pd.read_csv(
            'C:/Users/DELL/Documents/Phython_Class_CIT/hiring.csv')
        df=df.rename(columns={'test_score(out of 10)': 'test_score', 'interview_score(out of 10)':'interview_score', 'salary($)':'salary'})
        dict1 = {
            'nan': 0,
            'two': 2,
            'three': 3,
            'five': 5,
            'ten': 10,
            'seven': 7,
            'eleven': 11
        }
        list_x = []
        for i in df['experience'].values:
        #                 print(i)
            list_x.append(dict1[str(i)])
        #     print(dict1[str(i)])
        df['experience'] = list_x
        fil_list = []
        for i in df['experience'].values:
        #     print(i)
            if i == 0:
                fil_list.append(df['experience'].mean())
            else:
                fil_list.append(i)
        df['experience']= fil_list
        
        df['test_score'] = df['test_score'].fillna(df['test_score'].mean())
        df_y = df['salary']
        df_x = df.drop('salary', axis=1)
        reg = LinearRegression(normalize=True).fit(df_x, df_y)
        with open('reg.pkl', 'wb') as f:
            pk.dump(reg, f)

In [178]:
model = ModelTraining()
model.linear_function()

NameError: name 'f' is not defined

In [76]:
with open('reg.pkl', 'rb') as f:
    reg = pk.load(f)

In [72]:
reg.predict(df_x)

array([52313.61238494, 45722.68644263, 58231.95591138, 63991.7318464 ,
       67429.06277517, 61080.55179794, 75922.72532666, 79307.67351488])

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000

# Taitanic Datasets

In [179]:
import pandas as pd
import pickle as pk
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.ensemble import AdaBoostClassifier
class ModelTraining:
    def ada_function(self):
        df_t = pd.read_csv(
            'C:/Users/DELL/Documents/Phython_Class_CIT/titanic_train.csv')
        df_t = df_t.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'],
                         axis=1)
        df_t['Age'] = df_t['Age'].fillna(df_t['Age'].median())

        le = preprocessing.LabelEncoder()
        df_t['Sex'] = le.fit_transform(df_t['Sex'])

        df_x = df_t.drop('Survived', axis=1)
        df_y = df_t['Survived']

        scaler = preprocessing.StandardScaler()
        df_x = scaler.fit_transform(df_x)

        X_train, X_test, y_train, y_test = train_test_split(df_x,
                                                            df_y,
                                                            test_size=0.30,
                                                            random_state=42)
        clf = AdaBoostClassifier(learning_rate=0.1,
                                 n_estimators=1500,
                                 random_state=42,
                                 algorithm='SAMME.R').fit(X_train, y_train)
        with open('adaclf.pkl', 'wb') as f:
                pk.dump(clf, f)

In [180]:
ada_function()

In [181]:
with open('adaclf.pkl', 'rb') as f:
    clf = pk.load(f)

# Iris Datasets

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [56]:

df_i = pd.read_csv(
    'C:/Users/DELL/Documents/Phython_Class_CIT/Iris.csv')
df_i.tail(60)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
90,91,5.5,2.6,4.4,1.2,Iris-versicolor
91,92,6.1,3.0,4.6,1.4,Iris-versicolor
92,93,5.8,2.6,4.0,1.2,Iris-versicolor
93,94,5.0,2.3,3.3,1.0,Iris-versicolor
94,95,5.6,2.7,4.2,1.3,Iris-versicolor
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor
100,101,6.3,3.3,6.0,2.5,Iris-virginica
101,102,5.8,2.7,5.1,1.9,Iris-virginica
102,103,7.1,3.0,5.9,2.1,Iris-virginica
103,104,6.3,2.9,5.6,1.8,Iris-virginica
104,105,6.5,3.0,5.8,2.2,Iris-virginica
105,106,7.6,3.0,6.6,2.1,Iris-virginica
106,107,4.9,2.5,4.5,1.7,Iris-virginica
107,108,7.3,2.9,6.3,1.8,Iris-virginica
108,109,6.7,2.5,5.8,1.8,Iris-virginica
109,110,7.2,3.6,6.1,2.5,Iris-virginica
110,111,6.5,3.2,5.1,2.0,Iris-virginica
111,112,6.4,2.7,5.3,1.9,Iris-virginica
112,113,6.8,3.0,5.5,2.1,Iris-virginica
113,114,5.7,2.5,5.0,2.0,Iris-virginica
114,115,5.8,2.8,5.1,2.4,Iris-virginica
115,116,6.4,3.2,5.3,2.3,Iris-virginica
116,117,6.5,3.0,5.5,1.8,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
119,120,6.0,2.2,5.0,1.5,Iris-virginica
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [33]:
df_i = df_i.drop('Id', axis=1)
df_i.head(50)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0             5.1           3.5            1.4           0.2  Iris-setosa
1             4.9           3.0            1.4           0.2  Iris-setosa
2             4.7           3.2            1.3           0.2  Iris-setosa
3             4.6           3.1            1.5           0.2  Iris-setosa
4             5.0           3.6            1.4           0.2  Iris-setosa
5             5.4           3.9            1.7           0.4  Iris-setosa
6             4.6           3.4            1.4           0.3  Iris-setosa
7             5.0           3.4            1.5           0.2  Iris-setosa
8             4.4           2.9            1.4           0.2  Iris-setosa
9             4.9           3.1            1.5           0.1  Iris-setosa
10            5.4           3.7            1.5           0.2  Iris-setosa
11            4.8           3.4            1.6           0.2  Iris-setosa
12            4.8           3.0            1.4           0.1  Iris-setosa
13            4.3           3.0            1.1           0.1  Iris-setosa
14            5.8           4.0            1.2           0.2  Iris-setosa
15            5.7           4.4            1.5           0.4  Iris-setosa
16            5.4           3.9            1.3           0.4  Iris-setosa
17            5.1           3.5            1.4           0.3  Iris-setosa
18            5.7           3.8            1.7           0.3  Iris-setosa
19            5.1           3.8            1.5           0.3  Iris-setosa
20            5.4           3.4            1.7           0.2  Iris-setosa
21            5.1           3.7            1.5           0.4  Iris-setosa
22            4.6           3.6            1.0           0.2  Iris-setosa
23            5.1           3.3            1.7           0.5  Iris-setosa
24            4.8           3.4            1.9           0.2  Iris-setosa
25            5.0           3.0            1.6           0.2  Iris-setosa
26            5.0           3.4            1.6           0.4  Iris-setosa
27            5.2           3.5            1.5           0.2  Iris-setosa
28            5.2           3.4            1.4           0.2  Iris-setosa
29            4.7           3.2            1.6           0.2  Iris-setosa
30            4.8           3.1            1.6           0.2  Iris-setosa
31            5.4           3.4            1.5           0.4  Iris-setosa
32            5.2           4.1            1.5           0.1  Iris-setosa
33            5.5           4.2            1.4           0.2  Iris-setosa
34            4.9           3.1            1.5           0.1  Iris-setosa
35            5.0           3.2            1.2           0.2  Iris-setosa
36            5.5           3.5            1.3           0.2  Iris-setosa
37            4.9           3.1            1.5           0.1  Iris-setosa
38            4.4           3.0            1.3           0.2  Iris-setosa
39            5.1           3.4            1.5           0.2  Iris-setosa
40            5.0           3.5            1.3           0.3  Iris-setosa
41            4.5           2.3            1.3           0.3  Iris-setosa
42            4.4           3.2            1.3           0.2  Iris-setosa
43            5.0           3.5            1.6           0.6  Iris-setosa
44            5.1           3.8            1.9           0.4  Iris-setosa
45            4.8           3.0            1.4           0.3  Iris-setosa
46            5.1           3.8            1.6           0.2  Iris-setosa
47            4.6           3.2            1.4           0.2  Iris-setosa
48            5.3           3.7            1.5           0.2  Iris-setosa
49            5.0           3.3            1.4           0.2  Iris-setosa

In [4]:
df_i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [28]:
df_i.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [35]:
le = preprocessing.LabelEncoder()
df_i['Species'] = le.fit_transform(df_i['Species'])

In [36]:
df_i.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

In [37]:
# dividing data
df_x = df_i.drop('Species', axis=1)
df_y = df_i['Species']

KeyError: 'Species'

In [38]:
df_x.shape, df_y.shape

((150, 4), (150,))

In [39]:
# spliting datasets
X_train, X_test, y_train, y_test = train_test_split(df_x,
                                                    df_y,
                                                    test_size=0.30,
                                                    random_state=42)

## MOdels

### KNN

In [40]:
grid_param = {
    "n_neighbors": list(range(2, 12, 2)),
    "weights": ['uniform', 'distance'],
    "metric": ['minkowski']
}

grid = GridSearchCV(KNeighborsClassifier(), grid_param, verbose=3, n_jobs=-1)
grid_model_knn = grid.fit(X_train, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    1.8s
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:    1.9s finished

In [41]:
grid_model_knn.best_score_

0.9523809523809523

In [42]:
grid_model_knn.best_params_

{'metric': 'minkowski', 'n_neighbors': 2, 'weights': 'distance'}

#### fixing values

In [43]:
neigh = KNeighborsClassifier(n_neighbors= 2, metric='minkowski', weights='distance')
neigh.fit(X_train,y_train)
pred_train_knn = list(neigh.predict(X_train))
pred_test_knn = list(neigh.predict(X_test))

#### classification report

In [44]:

clf_train_knn = classification_report(y_train, pred_train_knn)
print('Train:\n', clf_train_knn)

clf_test_knn = classification_report(y_test, pred_test_knn)
print('Test:\n', clf_test_knn)

Train:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        31
           1       1.00      1.00      1.00        37
           2       1.00      1.00      1.00        37

    accuracy                           1.00       105
   macro avg       1.00      1.00      1.00       105
weighted avg       1.00      1.00      1.00       105

Test:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00        13

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

### LogisticRegression

In [46]:
grid_params = {
    'C': [0.001, 0.01, 1, 10, 100, 1000],
    #     "class_weight": ['balanced'],
    "penalty": ['l1', 'l2', 'elasticnet'],
    "solver": ['liblinear', 'saga']
}
grid = GridSearchCV(LogisticRegression(), grid_params, verbose=3, n_jobs=-1)
grid_model_logr = grid.fit(X_train, y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done 180 out of 180 | elapsed:    0.2s finished
C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

In [47]:
grid_model_logr.best_score_

0.9714285714285715

In [48]:
grid_model_logr.best_params_

{'C': 1, 'penalty': 'l1', 'solver': 'saga'}

#### Fixing Logistic Value

In [51]:
clf = LogisticRegression(C=1, penalty='l1',
                         solver='saga').fit(X_train, y_train)
pred_train_logr = list(clf.predict(X_train))
pred_test_logr = list(clf.predict(X_test))

C:\Users\DELL\anaconda3\lib\site-packages\sklearn\linear_model\_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

#### classification report

In [52]:

clf_train_lg = classification_report(y_train, pred_train_logr)
print('Train:\n', clf_train_lg)

clf_test_lg = classification_report(y_test, pred_test_logr)
print('Test:\n', clf_test_lg)

Train:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        31
           1       1.00      0.92      0.96        37
           2       0.93      1.00      0.96        37

    accuracy                           0.97       105
   macro avg       0.97      0.97      0.97       105
weighted avg       0.97      0.97      0.97       105

Test:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        19
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00        13

    accuracy                           1.00        45
   macro avg       1.00      1.00      1.00        45
weighted avg       1.00      1.00      1.00        45

### RandomForestClassifier

In [57]:
grid_params = {
    'n_estimators': [2,3,4,5,8,10,15,20,25,30],
    'max_depth': list(range(2, 10)),
    'max_leaf_nodes': list(range(2, 100)),
    'min_samples_leaf': list(range(1, 5))
}
grid = GridSearchCV(RandomForestClassifier(),
                          grid_params,
                          verbose=3,
                          n_jobs=-1)
grid_model_rf = grid.fit(X_train, y_train)

Fitting 5 folds for each of 31360 candidates, totalling 156800 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    2.0s
[Parallel(n_jobs=-1)]: Done 400 tasks      | elapsed:    3.3s
[Parallel(n_jobs=-1)]: Done 1680 tasks      | elapsed:    7.2s
[Parallel(n_jobs=-1)]: Done 3472 tasks      | elapsed:   12.7s
[Parallel(n_jobs=-1)]: Done 5776 tasks      | elapsed:   20.4s
[Parallel(n_jobs=-1)]: Done 8592 tasks      | elapsed:   32.6s
[Parallel(n_jobs=-1)]: Done 11920 tasks      | elapsed:   46.9s
[Parallel(n_jobs=-1)]: Done 15760 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 20112 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done 24976 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done 30352 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done 36240 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done 42640 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 49552 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done 56976 tasks      | elapsed:  4.0min
[Parallel(n_jobs=-1)]: Done 64912 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 73360 tasks      | elapsed:  5.1min
[Parallel(n_jobs=-1)]: Done 82320 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done 91792 tasks      | elapsed:  6.4min
[Parallel(n_jobs=-1)]: Done 101776 tasks      | elapsed:  7.1min
[Parallel(n_jobs=-1)]: Done 112272 tasks      | elapsed:  7.9min
[Parallel(n_jobs=-1)]: Done 123280 tasks      | elapsed:  8.7min
[Parallel(n_jobs=-1)]: Done 134800 tasks      | elapsed:  9.5min
[Parallel(n_jobs=-1)]: Done 146832 tasks      | elapsed: 10.4min
[Parallel(n_jobs=-1)]: Done 156785 out of 156800 | elapsed: 11.1min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done 156800 out of 156800 | elapsed: 11.1min finished

In [58]:
grid_model_rf.best_score_

0.9714285714285715

In [59]:
grid_model_rf.best_params_

{'max_depth': 7,
 'max_leaf_nodes': 65,
 'min_samples_leaf': 3,
 'n_estimators': 2}

#### Fixing RandomForest values

In [ ]:
clf = RandomForestClassifier(max_depth=7,
                             max_features='log2',
                             max_leaf_nodes=84,
                             n_estimators=450,
                             random_state=42,
                             criterion='gini')
clf.fit(X_train, y_train)
predict_train_rf = list(clf.predict(X_train))
predict_test_rf = list(clf.predict(X_test))

#### classification report

In [ ]:
clf_train_rf = classification_report(y_train, predict_train_rf)
print('Train:\n', clf_train_rf)

clf_test_rf = classification_report(y_test, predict_test_rf)
print('Test:\n', clf_test_rf)

## For Flasking

In [ ]:
import pandas as pd
import pickle as pk
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing

class KNNModle:
    def model_function(self):
        df_i = pd.read_csv(
            'C:/Users/DELL/Documents/Phython_Class_CIT/Iris.csv')
        df_i = df_i.drop('Id', axis=1)


        df_x = df_i.drop('Species', axis=1)
        df_y = df_i['Species']

        neigh = KNeighborsClassifier(n_neighbors= 2, metric='minkowski', weights='distance').fit(df_x, df_y)


        with open('iris.pkl', 'wb') as f:
             pk.dump(neigh, f)