In [5]:
# sorting lists that have multiple tuples-->
items = [
    ('P1',10),
    ('P2',12),
    ('P3',8)
]
def sort_items(item):
    return item[1]
items.sort(key=sort_items, reverse= True)
print(items)

[('P2', 12), ('P1', 10), ('P3', 8)]

In [7]:
# lambda function ---- key= lambda parameters:expressions
items = [
    ('P1',10),
    ('P2',12),
    ('P3',8)
]
items.sort(key= lambda item:item[1])
print(items)

[('P2', 12), ('P1', 10), ('P3', 8)]

In [8]:
# map function and list() function
items = [
    ('P1',10),
    ('P2',12),
    ('P3',8)
]
prices = list(map(lambda item:item[1], items))
print(prices)

[10, 12, 8]

In [9]:
stu_names= [
    ('Ankur',100),
    ('rafin',56),
    ('arshad', 89),
    ('md', 99)
]
def sort_stu(name):
    return name[1]
stu_names.sort(key= sort_stu)
print(stu_names)

[('rafin', 56), ('arshad', 89), ('md', 99), ('Ankur', 100)]

In [10]:
stu_names= [
    ('Ankur',100),
    ('rafin',56),
    ('arshad', 89),
    ('md', 99)
]
stu_names.sort(key= lambda name:name[1])
print(stu_names)

[('rafin', 56), ('arshad', 89), ('md', 99), ('Ankur', 100)]

In [12]:
stu_names[0][1]

56

In [16]:
stu_names[1][1]

89

In [13]:
stu_names= [
    ('Ankur',100),
    ('rafin',56),
    ('arshad', 89),
    ('md', 99)
]
stu_name = list(map(lambda name:name[1], stu_names))
print(stu_name)
stu_name.sort()
print(stu_name)

[100, 56, 89, 99]
[56, 89, 99, 100]

In [31]:
# filter function for checking list objects
stu_names= [
    ('Ankur',100),
    ('rafin',56),
    ('arshad', 89),
    ('md', 99)
]
gratter = list(filter(lambda name:name[1]>=89, stu_names))
gratter.sort(key= lambda name:name[1])
print(gratter)

[('arshad', 89), ('md', 99), ('Ankur', 100)]

In [33]:
# list comprehensions for best on behalve of filter and map function --- [expression for item in items]
stu_names= [
    ('Ankur',100),
    ('rafin',56),
    ('arshad', 89),
    ('md', 99)
]
marks = [mark[1] for mark in stu_names]
print(marks)
marks.sort()
print(marks)

[100, 56, 89, 99]
[56, 89, 99, 100]

In [38]:
# list comprehension on filtering
stu_names= [
    ('Ankur',100),
    ('rafin',56),
    ('arshad', 89),
    ('md', 99)
]
marks = [mark for mark in stu_names if mark[1]>=89]
print(marks)
marks.sort(key= lambda mark:mark[1])
print(marks)

[('Ankur', 100), ('arshad', 89), ('md', 99)]
[('arshad', 89), ('md', 99), ('Ankur', 100)]

## 20.02.21

In [21]:
#prime number from 1 to 100

for i in range(1, 101):
    count = 0
    for j in range(1,i+1):
        if i%j==0:
            count+=1
    if (count==2):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [8]:
#prime number from 1st 100 
count = 2
digit =1
while count<100:
    remainder = 0
    for j in range(1,digit+1):
        if digit%j==0:
            remainder +=1
    if remainder == 2 :
        count+=1
        print(digit)
    digit +=1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521

In [16]:
for i in range(0,5):
    for j in range(i,i+1):
        print("*"*i)

*
**
***
****

In [15]:
for i in range(5,0,-1):
    for j in range(i,i+1):
        print("*"*i)

*****
****
***
**
*

In [2]:
# Write a Python program to get the difference between the two lists
l1 = [10,25,50,40,25,30]
l2 = [25,30,22]
l3 = []
for i in l1+l2:
    if i not in l1 or i not in l2:
        l3.append(i)
print(l3)

[10, 50, 40, 22]

In [13]:
x = 9+2/4*3-2*4+(5-4)*3
print(x)
print(x*x)

5.5
30.25

In [9]:
2/4

0.5

In [10]:
.5*3

1.5

In [11]:
10.5-11

-0.5

In [ ]:
#fibonacci series
n1,n2=0,1

In [3]:
def tri_recursion(k):
    if k>0:
        result = k + tri_recursion(k-1)
        print(result)
    else:
        result = 0
    return result
tri_recursion(6)

1
3
6
10
15
21

21

In [4]:
1+2+3+4+5+6

21

In [9]:
def factorial(n):
    if n>=1:
        result = n*factorial(n-1)
        return result
    else:
        result = 1
        return result
factorial(5)

120

In [2]:
x = 0 
while x<5:
    if x<3:
        x+=1
        print(x)
        break

1

In [2]:

out = lambda num: num%2==0
print(out(4))

True

In [3]:
# square all list items
list_1 = [1,2,3,4,5,6]
for items in list_1:
    result= items**2
    print(result)

1
4
9
16
25
36

In [18]:
# square all list items using another lists
list_1 = [1,2,3,4,5,6]
list_2 =[]
for i in list_1:
    sq = i**2
    list_2.append(sq)
print('Square of list-1 items:',list_2)

Square of list-1 items: [1, 4, 9, 16, 25, 36]

In [2]:
li = [ items**2 for items in list_1]
li

[1, 4, 9, 16, 25, 36]

In [20]:
string = 'rafin'
for i in range(len(string)+1):
#     print(string[i])
    for j in range(i):
#         print(j)
#         print(string[i:j])
        print(string[j:i])

r
ra
a
raf
af
f
rafi
afi
fi
i
rafin
afin
fin
in
n

In [14]:
n = int(input())
for i in range(n+1):
    if i %3==0 and i%5==0:
        print('FizzBuzz')
    elif i%3==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')
    else:
        print(i)

15
FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [15]:
def swap_case(s):
    for i in range (len(s)):
        if s[i].isupper():
             return s[i].lower()
        elif s[i].islower():
            return s[i].upper()
        else:
            return s[i]
s=input()
swap_case(s)
print("".join(map(swap_case,s)))

rUns Dog
RuNS dOG

In [16]:
## initializing the string
string = "I am a python programmer"
## splitting the string on space
words = string.split()
## reversing the words using reversed() function
words = list(reversed(words))
## joining the words and printing
print(" ".join(words))

programmer python a am I

In [37]:
def reverse_words_order_and_swap_cases(sentence):
    # Write your code here
    for i in range(len(sentence)):
        if sentence[i].isupper():
            return sentence[i].lower()
        elif sentence[i].islower():
            return sentence[i].upper()
        else:
            return sentence[i]

            
sentence = input()
words = sentence.split()
reverse_words_order_and_swap_cases(words)
join_word = ''.join(map(reverse_words_order_and_swap_cases,sentence))
words_1 = join_word.split()
reverse_of = list(reversed(words_1))
print(' '.join(reverse_of))

i Am
aM I

In [38]:
class Multiset:
    def __init__(self):
        self.items = []
    def add(self, val):
        #adds one occurrence of val from the multiset, if any
        return self.items.append(val)
        pass
    def remove(self, val):
        # removes one occurrence of val from the multiset, if any
        if self.items.count(val) != 0:
            return self.items.remove(val)
        pass
    def __contains__(self, val):
        # returns True when val is in the multiset, else returns False
        return val in self.items
    def __len__(self):
        # returns the number of elements in the multiset
        return len(self.items)
if __name__ == '__main__':
    def performOperations(operations):
        m = Multiset()
        result = []
        for op_str in operations:
            elems = op_str.split()
            if elems[0] == 'size':
                result.append(len(m))
            else:
                op, val = elems[0], int(elems[1])
                if op == 'query':
                    result.append(val in m)
                elif op == 'add':
                    m.add(val)
                elif op == 'remove':
                    m.remove(val)
        return result

    q = int(input())
    operations = []
    for _ in range(q):
        operations.append(input())

    result = performOperations(operations)
    
    fptr = open(os.environ['OUTPUT_PATH'], 'w')
    fptr.write('\n'.join(map(str, result)))
    fptr.write('\n')
    fptr.close()

12
15
18
20
asd
adf
25
26
adf4
41
123
2656
2

IndexError: list index out of range

In [4]:
n = int(input())
if n%4==0:
    if n%100==0:
        if n%400==0:
            print("leap year")
        else:
            print('Not Leap year')
    else:
        print("Leap Year")
else:
    print("Not Leap Year")

1990
Not Leap Year

In [13]:
n=int(input())
s = n%4
print(s)

20
0

In [6]:
n=int(input())
if n%100==0 and n%400==0:
    print('Yeas')

2020

In [5]:
#leap year checking using Function
def checking_leapyear(year):
    leap = False
    if year%4==0:
        if year%100==0:
            if year%400==0:
                leap=True
                return leap
            else:
                leap= False
                return leap
        else:
            leap = True
            return leap
    else:
        leap = False
        return leap
    
year = eval(input())
checking_leapyear(year)

1990

False

In [28]:
n = int(input())
s = [i for i in range(1,n+1)]
for i in s:
    print(i,end="")

3
123

In [1]:
lst = []
lst.append(9)
lst.append(1)

In [2]:
lst

[9, 1]

In [3]:
lst.pop()

1

In [4]:
lst

[9]

In [7]:
lst.insert(1,10)

In [8]:
lst

[9, 10]

In [62]:
# n =int(input())
lst =[]
for i in range(12):
    lst.insert(0,5)
    lst.insert(1,10)
    lst.insert(0,6)
    break
print(lst)

[6, 5, 10]

In [63]:
lst.remove(6)
for j in range(len(lst)):
    lst.append(9)
    lst.append(1)
    break

[1, 5, 9, 10]

In [65]:
s.pop()
print(sorted(s,reverse=True))

[9, 5, 1]

In [66]:
n =int(input())
lst =[]
for i in range(n):
    lst.insert(0,5)
    lst.insert(1,10)
    lst.insert(0,6)
    break
print(lst)
lst.remove(6)
for j in range(len(lst)):
    lst.append(9)
    lst.append(1)
    break
s = sorted(lst)
print(s)
s.pop()
print(sorted(s,reverse=True))

12
[6, 5, 10]
[1, 5, 9, 10]
[9, 5, 1]

In [78]:
c = input().split()
c

it the and

['it', 'the', 'and']

In [7]:
n =int(input())
lst =[]
for _ in range(n):
    command = input().split()
    if command[0]=="append":
#         d = int(input())
        lst.append(int(command[1]))
    elif command[0]=="insert":
#         d2 = int(input())
#         d3 = int(input())
        lst.insert(int(command[1]),int(command[2]))
    elif command[0]=="remove":
#         d4 = int(input())
        lst.remove(int(command[1]))
    elif command[0]=="print":
        print(lst)
    elif command[0]=="pop":
        lst.pop()
    elif command[0]=="sort":
        lst = sorted(lst)
    elif command[0]=="reverse":
        lst.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [2]:
lst

[12]

In [8]:
integer_list = map(int, input().split())

1 2 3 4

In [9]:
integer_list

In [10]:
tuple(integer_list)

(1, 2, 3, 4)

In [12]:
hash(integer_list)

154161552002

In [14]:
hash(12.1)

230584300921368588

In [19]:
n = int(input())
integer_list = map(int, input().split())
print(hash(tuple(integer_list)))

2
1 2
-3550055125485641917

In [21]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
lst = []
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            if i+j+z!=n:
                print([i,j,k])
# print(lst)

1
1
2
3
[0, 0, 0]
[0, 0, 1]
[0, 0, 2]
[1, 1, 0]
[1, 1, 1]
[1, 1, 2]

In [23]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
lst = [[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k!=n]
lst

1
1
2
3

[[0, 0, 0],
 [0, 0, 1],
 [0, 0, 2],
 [0, 1, 0],
 [0, 1, 1],
 [1, 0, 0],
 [1, 0, 1],
 [1, 1, 0],
 [1, 1, 2]]

In [24]:
lst

[[0, 0, 0],
 [0, 0, 1],
 [0, 0, 2],
 [0, 1, 0],
 [0, 1, 1],
 [1, 0, 0],
 [1, 0, 1],
 [1, 1, 0],
 [1, 1, 2]]

5
2 3 6 5

In [26]:
lst

[2, 3, 6, 5]

In [28]:
maxi

6

In [46]:
n = int(input())
arr = map(int, input().split())
lst = list(arr)
maxi = lst[0]
sec_maxi = lst[1]
for i in lst[2:]:
    if i>maxi:
        sec_maxi=maxi
        maxi = i
    elif i>sec_maxi and maxi!=i:
        sec_maxi= i
        
        
print(sec_maxi)

5
2 3 6 6 5
5

In [40]:
l = list(range(5))
l[2:]

[2, 3, 4]

In [41]:
l

[0, 1, 2, 3, 4]

In [53]:
n = int(input())
arr = map(int, input().split())
lst = list(arr)
st = sorted(set(lst),reverse=True)[1]
st

5
2 3 6 6 5

5

In [1]:
def lowercase_function(function):
    def wrapper():
        func = function()
        make_lower = func.lower()
        return make_lower
    return wrapper
def great():
    return "I AM ANKUR"
decorator = lowercase_function(great)
decorator()

'i am ankur'

In [1]:
import pandas as pd
df = pd.DataFrame()
df['a'] = [1,2,3]  # we are manually create data frame but we are going use csv file for dataframe
df['b'] = [4,5,6]
df

   a  b
0  1  4
1  2  5
2  3  6

In [1]:
def pluse(number):
    return number+1
def addition(number):
    add = 5
    return number(add)
addition(pluse)

6

In [10]:
def count_string(string):
    count=0
    for i in range(len(string)):
        if string[i:i+2]=="co" and string[i+3:i+4]=='e':
            count+=1
    return(count)
print(count_string('codexxcode'))
print(count_string('cozexxcoie'))
print(count_string('AAcodeBBcoleCCccorfDD'))
print(count_string('AAcodeBBcoleCCcoreDD'))

2
2
2
3

In [8]:
count_string('ode')

0

## Armstrong number Using Function and Class

In [ ]:
num = eval(input("Enter your number:"))
new_num=0
for i in str(num):
    new_num = new_num + int(i)**3
if num == new_num:
    print("Amrstrong")
else:
    print('Not')
        
        
        
def checking(num):
    new_num=0
    for i in str(num):
        new_num = new_num + int(i)**3
    if num == new_num:
        print("Amrstrong")
    else:
        print('Not')
        
num = eval(input("Enter your number:"))
checking(num)




class Armstrong:
    def checking(self,num):
        
        new_num=0
        for i in str(num):
            new_num = new_num + int(i)**3
        if num == new_num:
            print("Amrstrong")
        else:
            print('Not Armstrong')
            
arm = Armstrong()
num = eval(input("Enter your number:"))
arm.checking(num)

## Prime Number of 100 numbers

In [ ]:
count = 2
num = eval(input('Enter the amount: '))
digit =1
while count<num:
    remainder = 0
    for j in range(1,digit+1):
        if digit%j==0:
            remainder +=1
    if remainder == 2 :
        count+=1
        print(digit)
    digit +=1

In [1]:
def pyramid(n):
    k = n - 1
    for i in range(0, n):
        for j in range(0, k):
            print(end=" ")
        k = k - 1
        for j in range(0, i+1):
            print("* ", end="")
        print("\r")
n = 5
pyramid(n)

    *
   * *
  * * *
 * * * *
* * * * *